CONFIG_LOCALVERSION="-erbium"
CONFIG_DEFAULT_HOSTNAME="erbium"
CONFIG_SYSVIPC=y
CONFIG_NO_HZ_IDLE=y
CONFIG_HIGH_RES_TIMERS=y
CONFIG_PRINTK=y
CONFIG_PRINTK_TIME=y
CONFIG_BUG=y
CONFIG_ELF_CORE=n
CONFIG_FUTEX=y
CONFIG_FILE_LOCKING=y
CONFIG_EPOLL=y
CONFIG_SIGNALFD=y
CONFIG_TIMERFD=y
CONFIG_EVENTFD=y
CONFIG_SHMEM=y
CONFIG_AIO=y
CONFIG_MULTIUSER=y
CONFIG_EMBEDDED=y
CONFIG_EXPERT=y
CONFIG_BLK_DEV_INITRD=y
CONFIG_INITRAMFS_SOURCE="@R@/build/initramfs.list"
CONFIG_RD_GZIP=y
CONFIG_SMP=y
CONFIG_NR_CPUS=4
CONFIG_ARM64_VA_BITS_48=y
CONFIG_ARM_PSCI_FW=y
CONFIG_ARM_ARCH_TIMER=y
CONFIG_ARM_GIC_V3=y
CONFIG_ARM_GIC_V3_ITS=y
CONFIG_ARCH_XILINX=y
CONFIG_ARCH_ZYNQMP=y
CONFIG_ARCH_VEXPRESS=y
CONFIG_COMPAT=n
CONFIG_CMDLINE=""
CONFIG_EFI=n
CONFIG_ACPI=n
CONFIG_SUSPEND=n
CONFIG_CPU_IDLE=n
# 9P over virtio needs NET, but no sockets, NICs or IP stack.
CONFIG_NET=y
CONFIG_INET=n
CONFIG_IPV6=n
CONFIG_UNIX=n
CONFIG_NETDEVICES=n
CONFIG_NET_9P=y
CONFIG_NET_9P_FD=n
CONFIG_NET_9P_VIRTIO=y
CONFIG_NETWORK_FILESYSTEMS=y
CONFIG_9P_FS=y
CONFIG_BLOCK=y
CONFIG_BINFMT_ELF=y
CONFIG_BINFMT_SCRIPT=y
CONFIG_DEVTMPFS=y
CONFIG_DEVTMPFS_MOUNT=y
CONFIG_STANDALONE=y
CONFIG_TTY=y
CONFIG_UNIX98_PTYS=y
CONFIG_SERIAL_AMBA_PL011=y
CONFIG_SERIAL_AMBA_PL011_CONSOLE=y
CONFIG_SERIAL_EARLYCON=y
CONFIG_SERIAL_CORE=y
CONFIG_SERIAL_CORE_CONSOLE=y
CONFIG_OF=y
CONFIG_COMMON_CLK=y
CONFIG_COMMON_CLK_XLNX_CLKWZRD=n
CONFIG_RESET_CONTROLLER=y
CONFIG_SPI=y
CONFIG_SPI_MASTER=y
CONFIG_SPI_MEM=y
CONFIG_SPI_CADENCE_QUADSPI=y
CONFIG_MTD=y
CONFIG_MTD_BLOCK=y
CONFIG_MTD_ERBIUM_XSPI=y
CONFIG_MTD_SPI_NOR=n
CONFIG_PROC_FS=y
CONFIG_PROC_SYSCTL=y
CONFIG_SYSFS=y
CONFIG_TMPFS=y
CONFIG_DEBUG_FS=y
CONFIG_MAGIC_SYSRQ=y
CONFIG_DEBUG_KERNEL=y
CONFIG_DEBUG_INFO_NONE=y
CONFIG_PANIC_TIMEOUT=-1
CONFIG_VIRTIO_MENU=y
CONFIG_VIRTIO=y
CONFIG_VIRTIO_MMIO=y
CONFIG_VIRTIO_BLK=y
CONFIG_VIRTIO_CONSOLE=n
CONFIG_KALLSYMS=y
CONFIG_STACKTRACE=y
CONFIG_RUNTIME_TESTING_MENU=n
CONFIG_PM=y
CONFIG_JUMP_LABEL=y
CONFIG_CC_OPTIMIZE_FOR_SIZE=n
CONFIG_MODULES=n
CONFIG_MMU=y
CONFIG_ARM64_ERRATUM_843419=n
CONFIG_RANDOMIZE_BASE=n
CONFIG_UNMAP_KERNEL_AT_EL0=n
CONFIG_ARM64_SW_TTBR0_PAN=n
CONFIG_NLS=n
CONFIG_CRYPTO=n
CONFIG_SECURITY=n
CONFIG_INPUT=n
CONFIG_HID=n
CONFIG_USB_SUPPORT=n
CONFIG_SOUND=n
CONFIG_DRM=n
CONFIG_FB=n
CONFIG_VT=n
CONFIG_I2C=n
CONFIG_GPIOLIB=n
CONFIG_HWMON=n
CONFIG_THERMAL=n
CONFIG_WATCHDOG=n
CONFIG_IOMMU_SUPPORT=n
CONFIG_PCI=n
CONFIG_ATA=n
CONFIG_SCSI=n
CONFIG_MD=n
CONFIG_NEW_LEDS=n
CONFIG_RTC_CLASS=n
CONFIG_DMADEVICES=n
CONFIG_STAGING=n
CONFIG_EXT4_FS=n
CONFIG_UBIFS_FS=n
CONFIG_XZ_DEC=n
CONFIG_FTRACE=n
CONFIG_KPROBES=n
CONFIG_PERF_EVENTS=n
CONFIG_PROFILING=n
CONFIG_BPF_SYSCALL=n
CONFIG_CGROUPS=n
CONFIG_NAMESPACES=n
CONFIG_AUDIT=n
CONFIG_IKCONFIG=y
CONFIG_IKCONFIG_PROC=y
